.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0;
}

.footer__description,
.footer__button {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
}

.footer__description span {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.footer__button {
  font-size: 14px;
}



